@font-face {
    font-family: Norse;
    src: url(norse-font/Norse-KaWl.otf);
}

a,
p {
    color: linen;
}

html{
    font-family: Norse;
    background: url(images/frontpage-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    padding: 90px;
}

.mainsection {
    display: block;
    border: groove;
    border-color: rgba(60, 82, 24, 0.72);
    border-width: 10px;
    margin-top: 75px;
    margin-bottom: 50px;
    margin-right: 600px auto;
    background-color: rgba(0, 0, 0, 0.72);
    max-width: 250px auto;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    margin-top: 30px;
    max-width: 0 auto;
}

.title {
    font-size: 30px;
    color: linen;
    margin-left: 30px;
    max-width: 0 auto;
}

.intro {
    color: linen;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    border-top: double;
    border-width: 4px;
    line-height: 1.4;
}

.heading {
    display: block;
    color: linen;
    text-align: center;
    border: groove;
    border-color: rgba(60, 82, 24, 0.72);
    border-width: 8px;
    padding: 3px;
    max-width: 200px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.72);
}

.recipe {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


img {
    width: 350px;
    height: 500px;
}